:root {
  --primary: #151515;
  --primary-50: #15151580;
  --primary-70: #141414b3;
  --secondary: #C90130;
  --secondary-hover: #7c001d;
  --white: #ffffff;
  --shadow-color: #00000015;
  --input-bg: #00000008;
}

::selection {
background: var(--primary);
color: var(--white);
}

* {
margin: 0;
font-family: "open-sans-reg";
box-sizing: border-box;
border: 0 none;
text-decoration: none;
list-style: none;
scroll-behavior: smooth;
scroll-padding-top: 8.5rem;
}

h1 { 
font-family: "roboto-slab-700";
}

h2 {
font-family: "roboto-slab-reg";
margin: 0.5rem 0;
}

h3, h4 { 
font-family: "open-sans-700";

}

p {
margin: 1rem 0;
line-height: 150%;
}

h3.sub-primary,
span.highlight {
color: var(--secondary);
}

span.dot {
font-size: 3rem;
line-height: 1rem;
}

body {
overflow-x: hidden;
margin: 0;
padding: 0;
background-color: var(--white);
position: relative;
}

main {
max-width: calc(1280px + 8%);
margin: 0 auto;
padding: 50px 8%;
}


/* -------------------- header sticky start ------------------ */
.header {
z-index: 999;
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 50px;
position: fixed;
width: 100%;
transition: all 0.3s ease-in-out;
}

.logo img {
height: 15vw;
max-height: 70px;
width: auto;
transition: all 0.3s ease-in-out;
}

.links {
display: flex;
column-gap: 30px;
align-items: center;
}

.links .link.active {
font-family: "open-sans-700";
}

.links .link {
display: inline;
position: relative;
overflow: hidden;
color: var(--white);
transition: all 0.3s ease-in-out;
font-size: 1.2rem;
text-transform: uppercase;
}

.links .link:after {
content: "";
position: absolute;
z-index: -1;
right: 0;
width: 0;
bottom: -5px;
background: var(--primary);
height: 2px;
transition-property: width;
transition-duration: 0.3s;
transition-timing-function: ease-out;
}

.links .link:hover:after,
.links .link:focus:after,
.links .link:active:after {
left: 0;
right: auto;
width: 100%;
}

.links .link:hover {
color: var(--primary);
}

/* --- styles for scrolled status --- */
.header-scrolled {
background-color: var(--white);
box-shadow: 0 3px 10px var(--shadow-color);
}

.header-scrolled .links .link {
color: var(--primary);
}

.header-scrolled .links .link:hover {
color: var(--secondary);
}

.header-scrolled .links .link:after {
background: var(--secondary);
}
/* -------------------- header sticky end -------------------------- */

/* -------------------- hero section start ------------------------- */
.herowrapper {
height: 100vh;
background: url(../img/hero-abstract-bg.svg) no-repeat left center;
background-size: cover;
}

section#hero {
height: calc(100vh - 60px);
display: flex;
justify-content: center;
padding: 20px 50px;
}

section#hero h1 {
font-size: 3rem;
order: 2;
transition: all 0.3s ease-in-out;
}

section#hero h2 {
font-family: "open-sans-reg";
font-size: 1.2rem;
order: 1;
}

.hero-headline {
gap: 20px;
width: 60%;
align-self: center;
display: flex;
flex-direction: column;
}

.hero-img {
width: 50%;
align-self: center;
margin-top: 15vh;
transition: all 0.3s ease-in-out;
}

.subhero {
height: 40vh;
background-position: inherit;
}

@media all and (min-width: 1365px) {
.hero-img {
  margin-top: 35vh;
}

section#hero h1 {
  font-size: 3.5rem;
  max-width: 80%;
}
}

.cta-btn {
margin-top: 30px;
padding: 0.9rem;
text-align: center;
max-width: 250px;
border-radius: 8px;
background-color: var(--secondary);
cursor: pointer;
transition: all 0.2s ease-in-out;
color: var(--white);
order: 3;
}

.cta-btn:hover {
background-color: var(--secondary-hover);
}
/* ------------- hero section end ------------------------------- */

/* ------------- 50-50 text-img-module containers start --------- */
.container {
display: flex;
flex-wrap: wrap;
gap: 40px;
margin-top: 2rem;
}

section.container {
align-items: center;
margin-top: 6rem;
}

.contact .container .left,
.contact .container .right,
section.container .text-wrapper,
section.container .img-wrapper {
flex: 1 0 200px;
}

section.container .img-wrapper  {
position: relative;
}

section.container .img-wrapper .teaser-img {
width: 100%;
position: relative;
z-index: 2;
}

.text-wrapper {
display: flex;
flex-direction: column;
}

.text-wrapper h2 {
order: 2;
}

.text-wrapper h3 {
order: 1;
}

.text-wrapper p, ul {
order: 3;
}


/* organic shapes behind pictures*/ 
.shapes {
  position: absolute;
  width: 30%;
}

.shapes.organic-top {
  top: -36%;
  left: -17%;
  z-index: 1;
  transform: rotate(45deg);
}

.shapes.organic-bot {
  top: -31%;
  left: 77%;
  z-index: 1;
  transform: rotate(309deg);
}


/* --- animated cardsymbol icons --- */
section.container .img-wrapper .icon {
  position: absolute;
  width: 8%;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

section.container .img-wrapper .icon.diamond {
  top: -22%;
  left: 208%;
  transform: rotate(29deg);
animation-name: diamond-ani;
}

section.container .img-wrapper .icon.ace {
  top: -13%;
  left: -26%;
  transform: rotate(331deg);
animation-name: ace-ani;
}

@keyframes diamond-ani {
  0%   {left:208%; top:-22%;}
  50%  {left:178%; top:-10%;}
  100% {left:208%; top:-22%;}
}

@keyframes ace-ani {
  0%   {left:-26%; top:-13%;}
  50%  {left:-8%; top:-20%;} 
  100% {left:-26%; top:-13%;}
}
/* ------------- 50-50 text-img-module containers end --------- */

/* ------------- disruptor full vw width start ---------------- */
.disruptor {
width: 100vw;
display: flex;
justify-content: space-evenly;
position: relative;
left: calc(-50vw + 50%);
background-color: var(--primary);
height: 10rem;
margin: 3rem 0;
}

.ups-wrapper {
display: flex;
flex-wrap: wrap;
align-content: center;
}

.disruptor .icon {
align-self: center;
margin-right: 20px;
color: var(--white);
font-size: 2rem;
}

.disruptor p {
color: var(--white);
}
/* ------------- disruptor full vw width end ---------------- */

/* ------------- grid template for forms start -------------- */
.contact h2 {
text-align: center;
}

.contact .container {
  margin-top: 4rem;
}

/* --- grid template reg-form --- */
.reg-form {
display: grid;
grid-template-columns: auto(2, 1fr);
grid-template-rows: auto(14, 1fr);
grid-column-gap: 32px;
grid-row-gap: 16px;
}

.reg1 { grid-area: 1 / 1 / 2 / 2; }
.reg2 { grid-area: 1 / 2 / 2 / 3; }
.reg3 { grid-area: 2 / 1 / 3 / 2; }
.reg4 { grid-area: 2 / 2 / 3 / 3; }
.reg5 { grid-area: 3 / 1 / 4 / 2; }
.reg6 { grid-area: 3 / 2 / 4 / 3; }
.reg7 { grid-area: 4 / 1 / 5 / 2; }
.reg8 { grid-area: 4 / 2 / 5 / 3; }
.reg9 { grid-area: 5 / 1 / 6 / 2; }
.reg10 { grid-area: 6 / 1 / 7 / 2; }
.reg12 { grid-area: 6 / 2 / 7 / 3; }
.reg11 { grid-area: 7 / 1 / 8 / 2; }
.reg13 { grid-area: 7 / 2 / 8 / 3; }
.reg14 { grid-area: 8 / 2 / 9 / 3; }
.reg15 { grid-area: 9 / 2 / 10 / 3; }
.reg16 { grid-area: 10 / 2 / 11 / 3; }
.reg17 { grid-area: 11 / 2 / 12 / 3; }
.reg18 { grid-area: 8 / 1 / 9 / 2; }
.reg19 { grid-area: 9 / 1 / 10 / 2; }
.reg20 { grid-area: 10 / 1 / 11 / 2; }
.reg21 { grid-area: 11 / 1 / 12 / 2; }
.reg22 { grid-area: 12 / 1 / 13 / 2; }

/* --- grid template contact-form --- */
.contact-form {
display: grid;
grid-template-columns: repeat(2, 1fr);
column-gap: 2rem;
row-gap: 1rem;
}

/* --- styles for forms --- */
small {
font-size: 0.7rem;
margin: 0.5rem 0;
display: inline-block;
}

.label-size {
font-size: 0.8rem;
}

.input-wrap {
position: relative;
}

.input-wrap.w-100 {
grid-column: span 2;
}

.contact-input {
width: 100%;
background-color: var(--input-bg);
padding: 1.5rem 1.35rem calc(0.75rem - 2px) 1.35rem;
border: none;
outline: none;
font-family: "open-sans-700";
border-radius: 8px;
color: var(--primary);
font-size: 0.95rem;
border: 2px solid transparent;
box-shadow: 0 3px 10px var(--shadow-color);
transition: all 0.3s ease-in-out;
}

.contact-input:hover {
background-color: var(--shadow-color);
}

.input-wrap label {
position: absolute;
top: 50%;
left: calc(1.35rem + 2px);
transform: translateY(-50%);
color: var(--primary-50);
pointer-events: none;
font-family: "open-sans-700";
transition: all 0.3s ease-in-out;
}

.input-wrap .icon {
position: absolute;
top: 50%;
right: calc(1.35rem + 2px);
transform: translateY(-50%);
color: var(--primary-70);
pointer-events: none;
font-size: 1.25rem;
transition: all 0.3s ease-in-out;
}

textarea.contact-input {
resize: none;
width: 100%;
min-height: 150px;
}

textarea.contact-input ~ label,
textarea.contact-input ~ .icon{
top: 1.2rem;
transform: none;
}

.radio-wrap {
  padding: 2rem 0 0 0;
}

.radio-wrap label {
left: calc(1.35rem + 32px);
}

.radio-input {
position: absolute;
top: 50%;
left: calc(1.35rem + 2px);
transform: translateY(-50%);
}

.btn {
width: 100%;
padding: 0.8rem 2rem;
background-color: var(--secondary);
color: var(--white);
border-radius: 8px;
border: none;
font-size: 1rem;
cursor: pointer;
transition: all 0.3s ease-in-out;

}

.btn:hover {
background-color: var(--secondary-hover);
}

/* --- styles for text next to the registration form --- */
.li-icon  {
padding-left: 25px;
}

.li-icon li::marker {
content: "♠";
font-size: 1.2rem;
}

.li-icon li {
padding-left: 2%;
}

/* --- styles for focused status --- */
.input-wrap.focus .contact-input{
background-color: var(--white);
border: 2px solid var(--secondary);
box-shadow: 0 3px 10px var(--shadow-color);
}

.input-wrap.focus label,
.input-wrap.focus .icon {
color: var(--secondary);
}

.input-wrap.not-empty label {
font-size: .66rem;
top: 0.75rem;
transform: translateY(0);
}

.jsvisibility {
display: none;
}
/* ------------- grid template for forms end -------------- */

/* ------------- gallery impressions grid start ----------- */
.gallery {
margin: 3rem 0;
width: 100vw;
left: calc(-50vw + 50%);
position: relative;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 20px;
}

.gallery-wrapper {
/* background: url(../img/gallery-background.svg) no-repeat left center; */
background-size: cover;
/* background-color: #C90130; */
width: 100vw;
left: calc(-50vw + 50%);
position: relative;
}

.gallery > div {
  overflow: hidden;
  height: 300px;
}

.impression1 { grid-area: 1 / 1 / 2 / 3; }
.impression2 { grid-area: 1 / 3 / 2 / 4; }
.impression3 { grid-area: 2 / 1 / 3 / 2; }
.impression4 { grid-area: 2 / 2 / 3 / 4; }

.gallery .impression1 img,
.gallery .impression4 img {
  width: 0;
  height: 580px;
  min-width: 100%;
  object-fit: cover;
}

.gallery .impression2 img,
.gallery .impression3 img {
  width: 0;
  height: 400px;
  min-width: 160%;
  object-fit: cover;
}
/* ------------- gallery impressions grid end ----------- */

/* ------------- footer start --------------------------- */
.footer-bg {
background-color: var(--primary);
padding: 20px 0;
}

.footer-links {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
align-content: center;
align-items: center;
gap: 10px 20px;
}

.footer-links .link {
color: var(--white);
transition: all 0.3s ease-in-out;
}

.footer-links .link:hover,
.footer-links .link.active {
color: var(--secondary);
}

.copyright{
text-align: center;
margin-top: 20px;
color: var(--white);
font-size: 0.9rem;
}

.copyright p {
font-size: 0.7rem;
margin: 0.3rem 0;
}
/* ------------- footer end --------------------------- */

